@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #262626;
	padding: 50px 0;
	min-height: 750px;
}

html::-webkit-scrollbar {
	display: none;
}

a {
	color: black;
	text-decoration: none;
}

h2 {
	font-size: 1.2rem;
	font-weight: 600;
}

h3 {
	font-size: 0.9rem;
}

.details p {
	font-size: 0.9rem;
}

.title {
	text-align: center;
	padding-bottom: 2em;
	color: white;
	letter-spacing: 0.1em;
}

.title span {
	color: #22bef0;
}

.streamers {
	width: 90%;
	margin: auto;
	max-width: 900px;
}

.streamer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px;
	background: aliceblue;
	margin-bottom: 20px;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.logo {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 20px;
}

.logo img {
	width: 100%;
	object-fit: cover;
}

.name {
	width: 25%;
	text-align: left;
	text-transform: capitalize;
}

.details {
	grid-area: details;
	width: 40%;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.details > p {
	margin-top: 10px;
}

.views {
	width: 20%;
	font-weight: 600;
}

.status {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.online {
	background: #28d928;
}

.offline {
	background: #ee3637;
}

.btn {
	padding: 0.75em 3em;
	background: aliceblue;
	border: none;
	border-radius: 50px;
	outline: none;
	font-family: inherit;
	font-weight: 600;
	font-size: 1rem;
	cursor: pointer;
	transition: background 0.3s linear;
}

.active.btn {
	background: #22bef0;
}

.filter {
	width: 500px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 30px;
}

.hover-card {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #22bef0;
	transition: all 0.2s linear;
	transform: translateX(-100%);
}

.streamer:hover .hover-card {
	transform: translateX(0);
}

@media (max-width: 768px) {
	.streamer {
		flex-direction: column;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.streamer > * {
		width: fit-content;
		text-align: center;
		margin-bottom: 0px;
	}
	.name {
		font-size: 2rem;
		margin-bottom: 30px;
	}
	.details {
		padding-right: 0;
	}
	.logo {
		width: 50px;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.views * {
		margin-top: 20px;
	}
	.status {
		width: 15px;
		margin-top: 20px;
	}
	.hover-card {
		transform: translate(0, -100%);
		width: 100%;
	}
}

@media (max-width: 600px) {
	.filter {
		flex-direction: column;
		gap: 20px;
		width: 200px;
	}
}
